@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.table-outline {
  border: 1px solid slategray;
}

.dark-background {
  background-color: #454d55;
}

.table tr .table-padding {
  padding-left: 7pt;
}

.right-panel {
  padding-right: 0;
}

.hide-text-warning {
  color: #ffeeba;
}

.hide-text-success {
  color: #c3e6cb;
}
