<template>
  <b-container fluid class="dark-background">
    <b-row>
      <b-col>
        <Notam></Notam>
      </b-col>

    </b-row>
  </b-container>
</template>

<script>
  import Notam from './MainPage/Notam'

  export default {
    name: 'landing-page',
    components: { Notam },
    methods: {
    }
  }
</script>

<style>
</style>
