<template>
    <b-list-group>
        <b-list-group-item v-for="notam in parsedNotams" v-bind:key="notam.id" href="#" class="">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-primary">EKOD</h5>
                <small class="text-success font-weight-bold">Duration</small>
                <small class="text-primary font-weight-bold">Local Time</small>
            </div>

            <b-list-group class="flex-fill" horizontal>
                <b-list-group-item class="flex-fill text-left" variant="info">{{ notam.startTimeLocal.format("dddd, MMMM Do YYYY, HH:mm:ss") }}</b-list-group-item>
                <b-list-group-item class="flex-fill text-center" variant="success">{{ notam.duration }} hours</b-list-group-item>
                <b-list-group-item class="flex-fill text-right" variant="info">{{ notam.endTimeLocal.format("dddd, MMMM Do YYYY, HH:mm:ss") }}</b-list-group-item>
            </b-list-group>
            <div class="d-flex w-100 justify-content-end">
                <small class="text-warning font-weight-bold">ZULU Time</small>
            </div>
            <b-list-group class="flex-fill" horizontal>
                <b-list-group-item class="flex-fill text-left" variant="warning">{{ notam.startTime.format("dddd, MMMM Do YYYY, HH:mm:ss") }}</b-list-group-item>
                <b-list-group-item class="flex-fill text-right" variant="warning">{{ notam.endTime.format("dddd, MMMM Do YYYY, HH:mm:ss") }}</b-list-group-item>
            </b-list-group>
            <div class="d-flex w-100 justify-content-end">
                <small class="text-secondary font-weight-bold">NOTAM Msg</small>
            </div>
            <b-list-group horizontal>
                <b-list-group-item variant="secondary">{{ notam.msg }}</b-list-group-item>
            </b-list-group>
        </b-list-group-item>
    </b-list-group>
</template>

<script>
  // import request from 'requests'
  const request = require('request')
  const moment = require('moment')

  export default {
    data () {
      return {
        parsedNotams: null
      }
    },
    methods: {
      parseNotams (response) {
        // create empty dom
        let parser = new DOMParser()
        let htmlDoc = parser.parseFromString(response, 'text/html')
        let allTDs = htmlDoc.getElementsByTagName('td')
        let myNotams = []

        // select elements in DOM that matches td which contain our notam values
        for (let td of allTDs) {
          if (td.innerText !== '' && td.innerText.includes('NOTAM')) {
            myNotams.push(td)
          }
        }
        // Loop over new values and set them into our object
        let notamList = []
        for (let nt of myNotams) {
          // if doesn't contain A or contains more than one, skip as we will get all values one by one anyway
          let aFound = nt.innerText.match(/(A\))/g)
          if (aFound == null || aFound.length !== 1) {
            continue
          }
          // find each value of the notam
          let idRaw = nt.innerText.match(/^(B\d+)(?=\/)/gm)
          let startTimeRaw = nt.innerText.match(/(B\) \d{10})/g)
          let endTimeRaw = nt.innerText.match(/(C\) \d{10})/g)
          let message = nt.innerText.match(/(E\))(.|\n)*$/g)

          // parse time
          let startTime = moment.utc(startTimeRaw[0].substr(3) + 'Z', 'YYMMDDHHmmZ')
          let endTime = moment.utc(endTimeRaw[0].substr(3) + 'Z', 'YYMMDDHHmmZ')
          message = message[0].substr(3)

          let notam = {
            id: idRaw[0].substr(1),
            startTime: startTime,
            endTime: endTime,
            startTimeLocal: moment(startTime).local(),
            endTimeLocal: moment(endTime).local(),
            duration: endTime.diff(startTime, 'hours', true),
            msg: message
          }

          // if duration is longer than 10 days we disregard as not interesting for us
          if (notam.duration < 24 * 10) {
            notamList.push(notam)
          }
        }

        // sort by newest date first
        notamList.sort((a, b) => (a.startTime > b.startTime) ? 1 : -1)
        // save in state
        this.parsedNotams = notamList
      }
    },
    mounted: function () {
      request.post('http://briefing.naviair.dk/notam.php?sLan=DK', {
        form: {
          'city[]': 'ekod'
        }
      }, (error, res, body) => {
        if (error) {
          console.error(error)
          return
        }
        this.parseNotams(body)
      })
    }
  }
</script>

<style scoped>

</style>
